<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- link to css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
    <title>ChatBot - Itenas</title>
</head>

<body>
    <main>
        <div class="row">
            <div class="col-sm-4">
                <h2 class="mt-4">Selamat Datang di<br>ChatBot - Itenas</h2>
            </div>
            <div class="col-sm-8">
                <div class="chatBox mt-4">
                    <p><span id="itenas">Itenas</span> : Hallo, selamat datang ke Itenas, dan terimakasih telah memilih untuk berbicara dengan saya adalah
                    sebuah robot</p>
                    <p><span id="itenas">Itenas</span> : Untuk memulai percakapan denganku, kamu harus mengetikan 'hello',atau 'hi',atau 'hallo itenas'
                    ^_^</p>
                    <p><span id="itenas">Itenas</span> : Jika kamu ingin selesai atau keluar, silahkan ketikan 'Selesai','Quit','Berhenti',atau 'Dadah'</p>
                    {% if kata and user %}
                        {% for x,y in bentuk %}
                            <p><span class="user">{{ y[0][0] }}</span> {{ data[loop.index-1] }}</p>
                            <p><span id="itenas">{{ x[0][0] }}</span> {{ x[0][1] }}</p>
                        {% endfor %}
                    {% endif %}  
                </div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3">
                        {{ form.user_input(class="form-control") }}
                        <!-- <input type="text" class="form-control" aria-label="Text input with dropdown button"> -->
                        <div class="input-group-prepend">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>